body {
    font-family: 'Poppins';
    background-color: black;
    color: white;
}
section{
    width: 90vw;
    height: 85vh;
    background-color: #333333;
    margin-left: 5%;
    display: flex;
}

header{
    margin-top: 0.3%;
width: 100vw;
    height: 4vh;

    display: inline-flex;
    margin-bottom: 1.5%;
}

header>h4{
    font-size: 25px;
    margin-top: 1%;
    width: 50%;
    margin-left: 5%;
}

header>ul{
    display: flex;
    list-style: none;
    font-size: 15px;
    width: 50%;
    margin-top: 0.5%;
    justify-content: right;
    margin-right: 5%;
}

header>ul>li{
    margin-top: 0;
    margin-left: 2%;
    height: 20px;
    padding: 1.5%;
    padding-right: 2.5%;
    padding-left: 2.5%;

}

header>ul>li:hover{
    background-color: white;
    color: #333333;
    transition-property: background-color;
    transition: ease-in;
    transition-duration: 0.5s;
}


#myImg{
    background-image: url("myImg2.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 40%;
}

.contentLoader{
    height: 100%;
    position: relative;
}

#homeSec{
    width: 100%;
    position: relative;
    top: 30%;
    margin-left: 20%;
    color: white;

}

#homeSec>h1{
    font-size: 60px;
    font-weight: bold;
}

/*#homeSec>h4{*/
/*    padding: 3%;*/
/*    padding-left: 4%;*/
/*    width: 17%;*/
/*    background-color: white;*/
/*    color: #333333;*/
/*}*/

/*#homeSec>h4:hover{*/
/*    background-color: #333333;*/
/*    color: white;*/
/*    border: 2px solid white;*/
/*}*/

#textChange{
    display: flex;
    font-size: 22px;
}

#textChange>p:nth-child(1){
    color: grey;
}

.line{
    width: 15%;
    height: 5px;
    background-color: white;
}

#aboutSec{
    width: 100%;
    position: relative;
    top: 5%;
    margin-left: 13%;
    color: white;
    height: 70vh;

}
#aboutSec>div{
    width: 100%;
}
#aboutSec>div>h4{
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 15px;
}

.about1{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    gap: 10%;

}

.about1>div{
    width: 370px;
    font-size: 15px;
    font-weight: lighter;
    line-height: 1.5;
    color: darkgray;
    text-align: justify;
    justify-content: center;
}

.about1>div>p{
    margin-top: 0;
}

footer{
    width: 100vw;
    height: 4vh;
    display: inline-flex;
    font-size: 15px;
    margin-top: 1%;
}

footer>ul{
    display: inline-flex;
    list-style: none;
    justify-content: right;
    width: 50%;
    margin-right: 6%;
    margin-top: 0;
}

footer>ul>li{
    margin-left: 3.5%;
}

footer>p{
    width: 50%;
    margin-left: 5%;
}

.btn {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: none;
    margin: 0px 0px 15px;
    min-width: 150px;
}

.btn span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 74%;
    padding: 15px 20px;
    transition: 0.3s;
}

.btn-1::before {
    background-color: white;
    transition: 0.3s ease-out;
    color: #333333;
}

.btn-1 span {
    color: #333333;
    border: 1px solid white;
    transition: 0.2s 0.1s;
}

.btn-1 span:hover {
    color: white;
    transition: 0.2s 0.1s;
    border: 1px solid white;
}

:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0;
}

::before,
::after {
    position: absolute;
    content: "";
}

.btn.hover-filled-slide-left::before {
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.btn.hover-filled-slide-left:hover::before {
    width: 0%;
}