body {
    font-family: 'Poppins';
    background-color: black;
    color: white;

}
section{
    width: 90vw;
    height: 85vh;
    background-color: #333333;
    margin-left: 5%;
    display: flex;
}

header{
    margin-top: 0.3%;
    width: 100vw;
    height: 4vh;
    display: inline-flex;
    margin-bottom: 1.5%;
}

header>h4{
    font-size: 25px;
    margin-top: 1%;
    width: 50%;
    margin-left: 5%;
}

header>ul{
    display: flex;
    list-style: none;
    font-size: 15px;
    width: 50%;
    margin-top: 0.5%;
    justify-content: right;
    margin-right: 5%;
}

header>ul>li{
    margin-top: 0;
    margin-left: 2%;
    height: 20px;
    padding: 1.5%;
    padding-right: 2.5%;
    padding-left: 2.5%;

}

header>i{
    visibility: hidden;
}

header>ul>li:hover{
    background-color: white;
    color: #333333;
    transition-property: background-color;
    transition: ease-in;
    transition-duration: 0.5s;
}


#myImg{
    background-image: url("myImg2.png");
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 40%;
}

.contentLoader{
    height: 100%;
    position: relative;
}

#homeSec{
    width: 100%;
    position: relative;
    top: 30%;
    margin-left: 20%;
    color: white;

}

#homeSec>h1{
    font-size: 60px;
    font-weight: bold;
}

/*#homeSec>h4{*/
/*    padding: 3%;*/
/*    padding-left: 4%;*/
/*    width: 17%;*/
/*    background-color: white;*/
/*    color: #333333;*/
/*}*/

/*#homeSec>h4:hover{*/
/*    background-color: #333333;*/
/*    color: white;*/
/*    border: 2px solid white;*/
/*}*/

#textChange{
    display: flex;
    font-size: 22px;
}

#textChange>p:nth-child(1){
    color: grey;
}

.line{
    width: 15%;
    height: 5px;
    background-color: white;
}

#aboutSec{
    width: 100%;
    position: relative;
    top: 5%;
    margin-left: 13%;
    color: white;
    height: 70vh;
    overflow-y: scroll;

}
#aboutSec>div{
    width: 100%;
}

#aboutSec>div>h4{
    font-weight: bold;
    letter-spacing: 5px;
    font-size: 15px;
}

.about1{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    gap: 10%;
    font-size: 15px;

}

.about1>div{
    width: 370px;
    font-size: 15px;
    font-weight: lighter;
    line-height: 1.5;
    color: darkgray;
    text-align: justify;
    justify-content: center;
}

.about1>div>p{
    margin-top: 0;
}

.about2{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    font-size: 15px;
}

.about2>div{
    width: 370px;
    font-size: 15px;
}

.about2>div>h4{
    letter-spacing: 5px;
}

.about2>div>ul{
    color: darkgray;
}

.about2>div>ul>li{
    line-height: 2;
}
.about3{
    margin-top: 7%;
    font-size: 15px;
}

.about3>h4{
    letter-spacing: 5px;
}
.about3>ul{
    margin-left: 10%;
    margin-top: 0;
    list-style: none;
    display: flex;
    font-size: 30px;
    color: darkgray;
}

.about3>ul>li{
    margin-right: 10%;
}
.about5{
    margin-top: 15%;
    font-size: 15px;
}

.about5>h4{
    letter-spacing: 5px;
}

.about5>div{
    color: darkgray;
    margin-left: 8%;
}

.institute{
    margin-top: 3%;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
}

.institute>p{
    margin-top: 0;
    margin-left: 4%;
}

.about5>div>ul{
    margin-left: 5%;
    line-height: 2;
    margin-top: 1%;
}

#serviceSec{
    width: 100%;
    position: relative;
    top: 5%;
    margin-left: 13%;
    color: white;
    height: 70vh;
    overflow-y: scroll;
}

#serviceSec>h4{
    letter-spacing: 5px;
}

.grid{
    display: flex;
    flex-direction: row;
    gap: 8%;
    margin-top: 8%;
}
.grid>div{
    width: 350px;
    height: 370px;
    border: 2px solid darkgray;
    color: darkgray;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-self: center;
    position: relative;
}

.grid>div:hover{
    background-color: white;
    color: #333333;
}

.grid>div>p{
    width: 80%;
    font-size: 15px;
    font-weight: lighter;
    text-align: center;
    /*margin-left: 5%;*/
    line-height: 1.5;
    position: relative;
    right: 0;
    left: 0;
    margin: auto;
}

.grid>div>h3{
    font-size: 22px;
    padding-top: 15%;
}

.grid>div>i{
    font-size: 50px;
    position: relative;
    right: 10%;
    padding-top: 20%;
    margin: auto;
    /*text-align: center;*/
}

#portfolioSec{
    width: 100%;
    position: relative;
    top: 5%;
    margin-left: 13%;
    color: white;
    height: 70vh;
    overflow-y: scroll;
}

#portfolioSec>h4{
    letter-spacing: 5px;
}

.portContain{
    display: flex;
    flex-direction: row;
    color: darkgray;
    width: 700px;
    margin-top: 8%;

    /*border-radius: 2%;*/
}

.portContain:hover{
    /*background-color: white;*/
    /*border-bottom: 2px solid darkgray;*/
    /*border-top: 2px solid darkgray;*/
    color: white;
    box-shadow: 0px 0px 5px 0px  darkgray;
}

.portImg>img{
    width: 350px;
}

.portDetail{
    margin-left: 5%;
}

.portDetail>h3{
    margin-top: 10%;
}
.portDetail>p{
    line-height: 1.5;
    font-size: 15px;
    font-weight: lighter;
    margin-top: 15%;
    text-align: justify;
    justify-content: center;
    padding-right: 5%;
}

#contactSec{
    width: 100%;
    position: relative;
    top: 5%;
    margin-left: 13%;
    color: white;
    height: 70vh;
    overflow-y: scroll;
}

#contactSec>h4{
    letter-spacing: 5px;
}

.contactRow{
    width: 700px;
    display: flex;
    flex-direction: row;
    gap: 5%;
    margin-top: 10%;
}

.contactRow>div{
    text-align: center;
    width: calc(100%/3);
    height: 150px;
    border: 1px solid darkgray;
    color: darkgray;
}

.contactRow>a>div{
    text-align: center;
    width: calc(620px/3);
    height: 150px;
    border: 1px solid darkgray;
}

.contactRow>a{
    text-decoration: none;
    color: darkgray;
}

.contactRow>div>i{
    font-size: 25px;
    padding-bottom: 10%;
    margin-left: -12%;
    padding-left: 0;
    margin-top: 20%;
}

.contactRow>a>div>i{
    font-size: 25px;
    padding-bottom: 10%;
    margin-left: -12%;
    padding-left: 0;
    margin-top: 20%;
}

.contactRow>div>p{
    margin-top: 7%;
    font-size: 15px;
    line-height: 0.5;
}

#fb{
    width: 300px;
    height: 300px;
}


footer{
    width: 100vw;
    height: 4vh;
    display: inline-flex;
    font-size: 15px;
    margin-top: 1%;
}

footer>ul{
    display: inline-flex;
    list-style: none;
    justify-content: right;
    width: 50%;
    margin-right: 6%;
    margin-top: 0;
}

footer>ul>li{
    margin-left: 3.5%;
}

footer>p{
    width: 50%;
    margin-left: 5%;
}

.btn {
    position: relative;
    display: inline-block;
    width: auto;
    height: auto;
    background-color: transparent;
    border: none;
    cursor: none;
    margin: 0px 0px 15px;
    min-width: 150px;
}

.btn span {
    position: relative;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    top: 0;
    left: 0;
    width: 74%;
    padding: 15px 20px;
    transition: 0.3s;
}

.btn-1::before {
    background-color: white;
    transition: 0.3s ease-out;
    color: #333333;
}

.btn-1 span {
    color: #333333;
    border: 1px solid white;
    transition: 0.2s 0.1s;
}

.btn-1 span:hover {
    color: white;
    transition: 0.2s 0.1s;
    border: 1px solid white;
}

:active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0;
}

::before,
::after {
    position: absolute;
    content: "";
}

.btn.hover-filled-slide-left::before {
    top: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.btn.hover-filled-slide-left:hover::before {
    width: 0%;
}

.icon {
    display: none;
}

/*-----------mobile responsive-----------------*/
@media screen and (max-width: 600px) {
    body{
        height: 97vh;
        overflow-x: hidden;
    }
    header .navMenu{
        visibility: hidden;
    }

    header>i{
        width: 40%;
        color: white;
        margin-right: 50px;
        text-align: left;
        font-size: 20px;
        margin-top: 2%;
        padding: 1%;
        visibility: visible;
        position: absolute;
        right: -40%;

    }

    header>h1{
        font-size: 17px;
        /*width: 20%;*/
        margin-right: 2%;
    }

    header{
        height: 50px;
        position: relative;
    }

    #myImg{
        visibility: hidden;
    }

    #homeSec{
        margin-left: -1%;
    }

    #sideBar{
        height: 100vh;
        width: 60vw;
        position: absolute;
        z-index: 3;
        display: flex;
        flex-direction: column;
        right: 0;
        margin: auto;
        text-align: center;
    /*align-items: flex-end;*/
        justify-items: right;

    }

    #sideBar>img{
        position: relative;
        left: 100px;
    }
    #sideBar>ul{
        list-style: none;
        align-items: end;
        text-align: center;
        line-height: 3;
        margin-left: 0;
    }

    #sideBar>i{
        font-size: 30px;
    }

    #homeSec>h1{
        font-size: 40px;
    }

    .about1{
        flex-direction: column;
        font-size: 12px;
        width: 90%;
    }

    .about1>div:nth-child(2){
        margin-top: 5%;
    }
    .about1>div{
        width: 300px;
    }

    #aboutSec{
        margin-left: 3%;

    }

    .about2{
        flex-direction: column;
        width: 90%;
    }

    .about3 i{
       font-size: 20px;
    }

    .about4>div {
        width: 300px;
    }

    .institute{
        width: 280px;
        font-size: 11px;
    }

    #serviceSec{
        margin-left: -5%;
    }

    .grid{
        flex-direction: column;
        gap: 20px;
    }

    .grid>div{
        width: 280px;
    }

    .grid>div>p{
        font-size: 12px;
    }

    #portfolioSec{
        margin-left: 2%;
    }

    .portContain{
        flex-direction: column;
        gap: 30px;
    }

    .portDetail{
        width: 300px;
    }

    .portDetail>p{
        font-size: 13px;
    }

    .contactRow{
        flex-direction: column;
        gap: 15px;
    }
    footer>ul>li{
        margin-left: 12%;
    }

    footer>ul{
        margin-right: 12%;
    }

    footer{
        font-size: 12px;
    }

    section{
        height: 82vh;
        margin-top: 2%;
    }

}